body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
a {
  color: #03cbaf;
  transition: transform 150ms ease-out;
}
a:active {
  color: #fbbb19;
}

:root {
  --light-gray: #dadce0;
  --blue-gray: #f2f5f8;
  --gray: #6b6969;
  --light-blue: #00bcd4;
}

body {
  background-color: var(--blue-gray);
  margin: 0;
}

.dirty:invalid {
  border: 1px solid red;
}

.example {
  color: var(--gray);
}

#signup-form {
  padding: 0px 40px;
  display: grid;
  grid-template-rows: auto;
  grid-auto-rows: 70px;
  grid-gap: 20px;
}

#register-button {
  max-height: 50px;
}

.textfield {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid var(--light-gray);
  font-size: 16px;
  transition: opacity 200ms ease-out;
  width: 100%;
  margin-top: 10px;
}
.textfield:disabled {
  opacity: 0.6;
}

.btn {
  background-color: var(--light-blue);
  color: white;
  border: 0;
  padding: 15px 20px;
  min-width: 150px;
  font-size: 16px;
  min-height: 50px;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 200ms ease-out;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  opacity: 0.8;
}
